/* Gerais */

* {
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}
p, li {
    color: gray;
    font-size: 14px;
}

/* Barra de Navegação */
header, .navbar {
    background-color: rgb(10, 10, 10);
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, rgb(221, 59, 59) 25%, #00a2ff 25%, #00a2ff 50%, rgb(16, 173, 16) 50%, rgb(16, 173, 16) 75%, yellow 75%) 5;
  }

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
#logo {
    padding: 0;
    margin: 0;
}
#logo h1{
    margin: 0 0 0 15px;
    padding: 0;
    color: white;
    font-size: 2.5em;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: monospace;
    text-shadow: 3px 3px 5px #00a2ff
}
#logo h1 span{
    color: #00a2ff;
}
.navbar .navbar-toggler {
    margin-right: 10px;
}
.navbar .navbar-toggler img:hover {
    transform: rotate(180deg);
}
.navbar .navbar-toggler img {
    width: 70px;
    height: 70px;
}
.navbar-brand {
    padding: 0;
    margin-left: 10px;
}
.navbar-brand:hover {
    color: white;
}
#navbar-links a {
    color: white;
}
#navbar-links a:hover {
    color: #00a2ff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */
.container-fluid {
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .corousel-item, .d-block {
    height: 90vh;
}
#mainSlider .carousel-caption {
    top: 35%
}
#mainSlider .carousel-caption h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
}
#mainSlider .carousel-caption p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 120px;
    color: #fff;
}
.main-btn {
    background-color: #00a2ff;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: 0.5s;
    text-decoration: none;
}
.main-btn:hover {
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: #00a2ff;
}
.carousel-indicators .active {
    background-color: #00a2ff;
}

/* SOBRE A EMPRESA*/
#about-area {
    background-color: lightgray;
}
#about-area img {
    border-radius: 10px;
    margin-bottom: 30px;
}
.main-title {
    color: gray;
    font-size: 30px;
    text-align: center;
}
/*
.main-title::after {
    content: "";
    border-top: 2px solid #00a2ff;
    width: 100px;
    position: absolute;
    margin-top: 44px;
    margin-left: -130px;

}
*/
.about-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

/* SERVIÇOS*/
.service-box {
    text-align: center;
    margin-bottom: 58px;
}
.service-box i, .service-box h4 {
    transition: 0.5s;
}
.service-box i {
    font-size: 36px;
    margin-bottom: 28px;
    color: gray;
}
.service-box h4{
    font-size: 24px;
    margin-bottom: 28px;
}
.service-box p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.service-box:hover > i, .service-box:hover > h4 {
    color: #00a2ff;
    cursor: pointer;
}

/*DADOS*/
.circle-box {
    width: 50%;
}
.circle-box div {
    padding: 0 40px;
}
#data-area .container p {
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/*TIME*/
#team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
}
#team-area .col-md-3 img {
    height: 300px;
}
.card-body {
    text-align: center;
}

/*TRABELHE CONOSCO*/
#apply-area {
    height: auto;
}
#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}
#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}
#company-img {
    background-image: url("../img/empresa.jpg");
    background-size: cover;
    height: 100%;
}
#pattern-img h4, #pattern-img p {
    color: white;
}
#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#pattern-img p {
    margin-bottom: 20px;
}
#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: white;
}
#apply-btn:hover {
    border-color: #00a2ff;
    background-color: #00a2ff;
}

/*PORTIFOLIO*/
.project-box {
    width: 50%;
    margin-bottom: 30px;
}
#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}
#portifolio-area .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 20px;
}
#portifolio-area .filter-btn.active, #portifolio-area .filter-btn:hover {
    color: #FFF;
    border: 1px solid #00a2ff;
    background-color: #00a2ff;
}

  /*NEWS LATTER*/
#news-area {
    text-align: center;
    background-color: white;
}
#news-area .main-title {
    font-size: 24px;
    margin-bottom: 40px;
}
#news-area p {
    font-size: 16px;
    margin-bottom: 40px;
}
#email-input {
    border-radius: 0;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border: 1px solid #00a2ff;
    display: inline;
    box-sizing: border-box;
    width: 90%;
    height: 40px;
}
#news-btn {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border: 1px solid #00a2ff;
    background-color: #00a2ff;
    text-transform: uppercase;
    color: white;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: 0.5s;
    width: auto;
}
#news-btn:hover {
    background-color: white;
    color: #00a2ff;
}

/*CALL TO ACTION*/
#call-area {
    background-color: #00a2ff;
    text-transform: uppercase;

}
#call-area .container {
    margin: 0;
    padding: 0;
}
#call-area .row {
    display: block;
    text-align: center;
}
#call-area p {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline;
}
#call-area #call-btn {
    background-color: white;
    color: #00a2ff;
    font-size: 14px;
    font-weight: bold;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

/*FOOTER*/
#contact-area {
    text-align: center;
}
#contact-area h3 {
    margin-bottom: 60px;
}
.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #00a2ff;
    cursor: pointer;
}
.contact-box i {
    color: gray;
    width: 250px;
    font-size: 30px;
    margin-bottom: 20px;
}
.contact-box p {
    font-size: 16px;
}
.contact-title {
    font-weight: bold;
    color: #00a2ff;
}
#msg-box {
    font-size: 20px;
}
#contact-form input[type="text"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 5px;
}  
#contact-form .main-btn {
    width: 120px;
    height: 50px;
}
#contact-form .main-btn:hover {
    color: #00a2ff;
}

/*COPY*/
#copy-area {
    background-color: white;
}
#copy-area .container {
    padding: 10px 0;
    text-align: center;
}
#copy-area .container p {
    margin-bottom: 0;
    font-size: 14px;
}
#copy-area .container a {
    font-weight: bold;
    color: gray;
}
#copy-area .container a:hover {
    text-decoration: none;
    color: #00a2ff;
}

/*RESPONSIVO*/
@media(min-width: 700px) {
    .container {
        padding: 20px 0;
    }
    /*SLIDE*/
    #mainSlider .carousel-inner, #mainSlider .corousel-item {
        height: auto;
    }
    #mainSlider .carousel-caption h2 {
        font-size: 26px;
        margin-top: 80px;
    }
    #mainSlider .carousel-caption p {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }

    /*ABOUT AREA*/
    #about-area {
        margin-bottom: 20px;
    }
    #about-area img {
        margin-top: 20px;
    }
    #about-area .main-title {
        margin-bottom: 20px;
    }

    /* SERVIÇOS*/
    #services-area .main-title {
        margin-bottom: 40px;
    }
    .service-box {
        width: 50%;
    }

    /*DATA*/
    #data-area {
        margin-bottom: 20px;
    }
    .circle-box {
        width: 25%;
    }
    /*TEAM*/
   
    #team-area .main-title {
        margin-bottom: 20px;
    }

    #team-area .col-md-3 {
        width: 25%;
    }
    
    /*TRABALHE CONOSCO*/
    #apply-area {
        margin-bottom: 20px;
    }
    #company-img {
        height: auto;
    }

    /*PORTIFOLIO*/
    #portifolio-area .main-title {
        margin-bottom: 40px;

    }
    /*NEWS AREA*/
    #news-area p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #email-input {
        width: 70%;
    }
    #call-area {
        margin-top: 30px;
    }
    #call-area .container {
        padding: 30px;
    }
    #call-area p, #call-area #call-btn {
        font-size: 16px;
    }

}

@media (max-width: 425px) {
    #company-img {
        display: none;
    }

    /*CONTACTS*/
    .contact-box {
        border: none;
        margin-bottom: 0;
    }
}
